@media only screen and (max-width: 904px) {
  ul li a:hover {
    border-bottom: 2px solid #50a0ff;
  }

  #hire-d {
    width: auto;
    max-width: 60%;
  }
  nav ul {
    display: none;
  }
  .menu-icon {
    display: flex;
    cursor: pointer;
  }
  .showData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    background-color: #0d243c;

    width: 100%;
    height: 340px;
    text-align: center;
    padding: 0px;
    gap: 18px;
    z-index: 999;
  }
}

@media (min-width: 768px) and (max-width: 1187px) {
  .logo img {
    height: 35px;
    width: 100px;
  }
  nav ul {
    font-size: 12px;
    gap: 25px;
  }
  .btn {
    font-size: 12px;
    padding: 10px 12px;
  }

  .solution-card:nth-child(3n + 2) {
    transform: translateY(0) scaleY(1);
  }
}

@media (max-width: 651px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Key: logo left, icon right */
    /* padding: 30px 0px; */
  }
  .logo img {
    width: 100px;
    height: 30px;
    margin-left: 10px;
  }
  .hero-text h1,
  #in {
    font-size: 26px;
    line-height: 1.3;
    max-width: 100%;
    /* text-align: center; */
    margin: 0 auto;
  }
  .hero-text p {
    font-size: 14px;
    line-height: 1.5;
  }

  .buttons-grid {
    /* grid-template-columns:1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    padding: 30px 30px;
  }

  .heading h1 {
    font-size: 40px;
    line-height: 1.3;
  }

  .about-img {
    width: 90%;
    max-width: 800px;
    margin: 0 auto; /* center the image */
  }

  .about-img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .about-text {
    padding: 0px 50px;
  }

  .about-text h1 {
    font-size: 25px;
    line-height: 1.2;
  }
  .about-text p {
    font-size: 14px;
    line-height: 1.8;
  }

  .trusted-partner {
    gap: 18px;
  }
  .content h1 {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }
  .feature-item {
    font-size: 15px;
  }

  .left {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .right {
    grid-template-columns: 1fr;
  }
  .counter-card h3 {
    font-size: 18px;
  }

  .btn {
    margin: 0 7em;
  }

  .service-img {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  .service-img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .service-text {
    max-width: 70%;
  }

  .service-text h1 {
    font-size: 30px;
    line-height: 1.3;
  }

  .service-text p {
    font-size: 15px;
  }
  .service-text ul li {
    font-size: 13px;
  }
  .about-shubpy {
    flex-wrap: wrap;
    gap: 0px;
  }
  .head-text {
    /* width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: inline-block; */
    padding: 0 16px;
    box-sizing: border-box;
  }
  .head-text p {
    /* width: 100%;
    height: auto;
    display: block; */

    margin: 0; /* remove the big left/right margins */
    max-width: 100%;
    font-size: 14px; /* optional: adjust for small screen */
    text-align: center;
  }
  .head-text h1 {
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
  }
  .head-text p {
    margin: 0px 70px;
    font-size: 15px;
    max-width: 80%;
  }
  .shubpy-grid {
    grid-template-columns: 1fr;
  }

  .shubpy-card {
    margin: 0 90px;
  }

  .shubpy-card p {
    font-size: 15px;
  }
  .technology h1 {
    /* flex-wrap: wrap; */
    font-size: 30px;
    line-height: 1.3;
  }

  .review-grid {
    flex-wrap: wrap;
    max-width: 80%;
    height: auto;
    display: block;
  }
  .review-grid {
    margin: 0px auto;
  }
  .review-box {
    margin-bottom: 10px;
  }

  .review-head h1 {
    font-size: 40px;
  }
  .review-img {
    flex-wrap: wrap;
  }
  .review-content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto; /* center the image */
  }

  .review-content img {
    width: 100%;
    height: auto;
    display: block;
  }
  .client-review p {
    font-size: 18px;
  }
  .contact-text h1 {
    font-size: 40px;
    text-align: center;
    line-height: 1.3;
  }
  .contact-text p {
    font-size: 14px;
    margin: 0px 30px;
  }

  .btn {
    padding: 12px 18px;
    font-size: 14px;
    width: 100%;
    margin: 0 auto; /* full width on small screens */
  }
  .btn-2 {
    padding: 12px 18px;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
  }

  .copyright {
    gap: 1px;
    text-align: center;
    margin: 0 auto;
  }

  .solution-content h1 {
    font-size: 35px;
  }
  .solution-content p {
    font-size: 15px;
  }
  .solution-card h1 {
    font-size: 20px;
  }
  .solution-card p {
    font-size: 15px;
  }

  .solution-card:nth-child(3n + 2) {
    transform: translateY(0) scaleY(1);
  }
}

@media (max-width: 400px) {
  .hero {
    margin-bottom: 20px;
  }
  .about-section {
    margin: 0;
  }
  .trusted-partner,
  .services-section {
    margin: 50px auto;
  }
  .heading h1 {
    font-size: 25px;
    margin-bottom: 0px;
    letter-spacing: 2px;
  }
  .about-section {
    gap: 10px;
  }
  .solution-card {
    width: 300px;
    margin: 0 auto;
  }
  .shubpy-img img {
    width: 360px;
    height: auto;
    object-fit: contain;
  }
  .shubpy-quote {
    margin: 2rem auto;
    max-width: 350px;
    height: auto;
  }
  .quote-text p {
    font-size: 18px;
  }
  .shubpy-card {
    width: 300px;
    height: 330px;
  }
  .head-text h1 {
    font-size: 16px;
    word-break: break-all;
  }
  .head-text p {
    text-align: start;
  }

  .technology h1 {
    padding: 39px;
    font-size: 25px;
    line-height: 1.3;
  }
  .tech-content {
    flex-direction: column;
    gap: 0;
  }

  .lang-img {
    flex-direction: column;
  }
  .review-head h1 {
    font-size: 25px;
    line-height: 1.3;
  }
  .review-box {
    width: 350px;
  }
  .about-shubpy {
    margin: 0;
  }
  .technology {
    margin: 20px;
  }
  .contact-text h1 {
    font-size: 25px;
  }
  .info-btn {
    margin-left: 3rem;
  }
  .review-head h1 {
    padding-bottom: 50px;
  }
  .form-row {
    flex-direction: column;
    gap: 0;
  }
  .footer {
    gap: 0;
    text-align: center;
  }
  .divider {
    margin: 10px auto;
  }
  .copyright-text,
  .copyright-icons {
    margin: 0 auto;
  }
  .counter-card {
    width: 230px;
    height: 150px;
  }
  .count {
    font-size: 25px;
    line-height: 30px;
  }
  .counter-card p {
    font-size: 18px;
  }
}

@media (min-width: 651px) and (max-width: 950px) {
  .logo img {
    margin-left: 10px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Key: logo left, icon right */
    padding: 30px 40px;
  }

  .buttons-grid {
    padding: 50px 0px;
    margin: 0 auto;
  }
  .heading h1 {
    font-size: 49px;
  }

  .content {
    margin: 0 auto;
    margin: 0px 60px;
  }
  .content h1 {
    font-size: 40px;
    line-height: 1.2;
  }

  .service-content {
    flex-wrap: nowrap;
  }

  .service-text {
    max-width: 70%;
  }
  .service-text h1 {
    max-width: 60%;
    font-size: 25px;
    line-height: 1.2;
    text-align: start;
  }
  .service-text li {
    font-size: 15px;
  }

  .service-text p {
    font-size: 15px;
  }

  .service-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .about-section {
    flex-wrap: nowrap;
    max-width: 100%;
  }
  .about-img img {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
  }

  .about-text h1 {
    font-size: 25px;
    line-height: 1.2;
  }
  .about-text p {
    font-size: 14px;
  }

  .about-shubpy {
    flex-wrap: wrap;
    max-width: 60%;
  }
  .shubpy-grid {
    grid-template-columns: 1fr;
  }
  .review-grid {
    flex-wrap: wrap;
    max-width: 60%;
    margin: 0 auto;
  }
  .review-img {
    flex-wrap: wrap;
  }
  .head-text h1 {
    font-size: 32px;
    line-height: 1.3;
  }
  .head-text p {
    font-size: 16px;
    line-height: 1.6;
  }

  .client-review p {
    font-size: 16px;
    line-height: 1.8;
  }

  .contact-text h1 {
    font-size: 32px;
    line-height: 1.3;
    margin: 0 auto;
  }
  .contact-text p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
  }

  .shubpy-card {
    margin: 12px auto;
  }

  .solution-card:nth-child(3n + 2) {
    transform: translateY(0) scaleY(1);
  }
}

@media (min-width: 951px) and (max-width: 1026px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Key: logo left, icon right */
    padding: 30px 40px;
  }

  .hero {
    flex-wrap: nowrap;
  }
  .buttons-right {
    margin-right: 40px;
  }
  .hero-text h1 {
    font-size: 40px;
    line-height: 1.2;
  }

  #in {
    font-size: 40px;
  }

  .logo img {
    margin-left: 1rem;
  }

  .hero-text p {
    font-size: 20px;
    line-height: 1.3;
  }

  .service i {
    font-size: 20px;
  }
  .services span {
    padding-left: 10px;
  }
  .service {
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 30px;
  }
  .heading h1 {
    font-size: 70px;
  }
  .about-section {
    flex-wrap: nowrap;
    max-width: 100%;
    align-items: stretch;
  }
  .about-text h1 {
    font-size: 40px;
    line-height: 1.3;
  }
  .about-text p {
    font-size: 16px;
  }
  .about-img img {
    width: 100%;
    height: 90%;
    max-width: 600px;
    display: block;
  }

  .trusted-partner {
    flex-wrap: nowrap;
    gap: 10px;
  }

  .content {
    margin-left: 30px;
  }
  .content h1 {
    font-size: 30px;
    line-height: 1.3;
  }
  .feature-item {
    font-size: 12px;
  }
  .feature-item i {
    font-size: 15px;
  }

  .right {
    margin-right: 50px;
  }
  .counter-card {
    height: 150px;
    width: 200px;
    /* gap: 10px; */
  }

  .counter-card h1 {
    font-size: 28px;
    margin-top: -20px;
  }
  .counter-card p {
    font-size: 15px;
    margin-top: -20px;
  }
  */ .service-content {
    flex-wrap: nowrap;
  }

  .service-text h1 {
    font-size: 30px;
    line-height: 1.3;
  }
  .service-text p {
    font-size: 15px;
    line-height: 1.6;
  }

  .service-text li {
    font-size: 15px;
  }

  .shubpy-head {
    max-width: 60%;
  }
  .head-text h1 {
    font-size: 30px;
    line-height: 1.3;
  }

  .head-text p {
    font-size: 15px;
  }
  .shubpy-card h1 {
    font-size: 20px;
  }
  .shubpy-card p {
    font-size: 14px;
  }
  .shubpy-grid {
  }
  .shubpy-card {
    max-width: 300px;
    height: auto;
    width: 100%;
    display: block;
  }

  .client-review p {
    font-size: 15px;
    line-height: 1.7;
  }
  .Contact {
    flex-wrap: nowrap;
  }
  .contact-text h1 {
    font-size: 40px;
    margin: 0 auto;
    line-height: 1.3;
  }
  .contact-text p {
    text-align: center;
  }
  .solution-card:nth-child(3n + 2) {
    transform: translateY(0) scaleY(1);
  }
}

@media (min-width: 1026px) and (max-width: 1403px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
  }

  .hero {
    flex-wrap: nowrap;
  }

  .buttons-right {
    margin-right: 40px;
    font-size: 18px; /* increased button font */
  }

  .hero-text h1 {
    font-size: 44px;
    line-height: 1.3;
  }

  #in {
    font-size: 44px;
  }

  .logo img {
    margin-left: 1rem;
  }

  .hero-text p {
    font-size: 22px;
    line-height: 1.5;
  }

  .service i {
    font-size: 22px;
  }

  .services span {
    padding-left: 10px;
  }

  .service {
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 30px;
  }

  .heading h1 {
    font-size: 80px;
  }

  .about-section {
    flex-wrap: nowrap;
    max-width: 100%;
    align-items: stretch;
  }

  .about-text h1 {
    font-size: 46px;
    line-height: 1.4;
  }

  .about-text p {
    font-size: 18px;
    line-height: 1.6;
  }

  .about-img img {
    width: 100%;
    height: 90%;
    max-width: 600px;
    display: block;
  }

  .trusted-partner {
    flex-wrap: nowrap;
    gap: 12px;
  }

  .content {
    margin-left: 30px;
  }

  .content h1 {
    font-size: 30px;
    line-height: 1.4;
  }

  .feature-item {
    font-size: 16px;
  }

  .right {
    margin-right: 50px;
  }

  .right {
    /* min-width: 300px; */
    grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
  }
  .counter-card {
    height: 150px;
    width: 200px;
  }

  .counter-card h1 {
    font-size: 36px;
    padding: 0px;
  }

  .counter-card h3 {
    font-size: 18px;
  }

  .feature-item i {
    font-size: 12px;
  }

  .service-content {
    flex-wrap: nowrap;
  }

  .service-text h1 {
    font-size: 36px;
    line-height: 1.4;
  }

  .service-text p {
    font-size: 18px;
    line-height: 1.7;
  }

  .service-text li {
    font-size: 17px;
  }

  .shubpy-head {
    max-width: 60%;
  }

  .head-text h1 {
    font-size: 36px;
    line-height: 1.4;
  }

  .head-text p {
    font-size: 18px;
  }

  .shubpy-card h1 {
    font-size: 24px;
  }

  .shubpy-card p {
    font-size: 16px;
  }

  .shubpy-card {
    max-width: 300px;
    height: auto;
    width: 100%;
    display: block;
  }

  .client-review p {
    font-size: 17px;
    line-height: 1.8;
  }
  .Contact {
    flex-wrap: nowrap;
    padding: 0px 40px;
  }
  .contact-text h1 {
    font-size: 40px;
    line-height: 1.3;
  }
  .contact-text p {
    font-size: 15px;
  }
  .info-btn {
    position: relative;
    right: 10%;
    top: 0;
  }
  .solution-card:nth-child(3n + 2) {
    transform: translateY(0) scaleY(1);
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  ul {
    margin-left: 50px;
  }
  .hero {
    flex-wrap: nowrap;
    gap: 0px;
  }
  .hero-text {
    margin-left: 100px;
    gap: 0px;
  }
  .heading h1 {
    font-size: 150px;
  }
  .Contact {
    flex-wrap: nowrap;
    padding: 0px 40px;
  }

  .contact-text h1 {
    font-size: 45px;
    line-height: 1.3;
  }
  .contact-text p {
    max-width: 500px;
  }

  .trusted-partner {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

@media (min-width: 1601px) {
  .trusted-partner {
    flex-wrap: nowrap;
    gap: 20px;
  }
}
