* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #0b243e;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.logo {
  /* margin: 0px 200px; */
}

.logo img {
  margin: 0px 0px;
  height: 47px;
  width: 175px;
  justify-content: center;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #0a233d;
  z-index: 1000;
}
.nav-container {
  width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

nav ul {
  display: flex;
  align-items: center;

  gap: 30px;
  font-size: 16px;
  padding-left: 2rem;
}

nav ul a {
  color: #fff;
  text-decoration: none;
}
nav li {
  list-style: none;
  text-decoration: none;
}

ul li a:hover {
  border-bottom: 2px solid #50a0ff;
}

.menu-icon {
  display: none;
  font-size: 25px;
  color: #ffffff;
}

.btn {
  background: linear-gradient(to right, #50a0ff, #4effff);
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 20px 0px #50a0ff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: auto;
  max-width: 100%;
  /* margin: inline-block
   */
  margin: 15px 0px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 180px 10px; */
  padding-top: 160px;
  max-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 86px;
  
}

.hero-text {
  padding: 0px 80px;
}

.hero-text h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 73px;
  color: #ffffff;
  line-height: 80px;
  max-width: 550px;
}
.hero-text p {
  color: #ffffff;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  padding: 20px 0px;
  line-height: 100%;
  letter-spacing: 8%;
}

#in {
  font-weight: 900;
  font-size: 80px;
  font-family: Roboto, san-serif;
}

#digital {
  background: linear-gradient(to right, #50a0ff, #4effff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.service img {
  width: 35px;
  height: 35px;
}

.btn-2 {
  background: linear-gradient(to right, #50a0ff, #4effff);
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 20px 0px #50a0ff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0;
  max-width: 100%;
  width: auto;
  margin: inline-block;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 80%;
  margin: auto;
}

.buttons-grid i {
  font-size: 25px;
  color: #ffffff;
  background-color: #ffffff21;
  padding: 10px;
  border-radius: 30px;
}

.service {
  display: flex;
  align-items: center;
  /* width: 100%; */
  background: #0e2a47;
  border-radius: 30px;
  border: 1px solid #ffffff;
  gap: 10px;
  color: #cde8ff;
  font-size: 16px;
  padding: 7px 14px;
}

.service span {
  padding: 0px 10px;
}

.heading {
  margin-bottom: 56px;
}
.heading h1 {
  font-family: Arial, sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-size: 150px;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  -webkit-text-stroke: 1px #ffff;
  background: transparent;
  /* color: #0b243e; */

  /* stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  stroke: #ffffff; */
  color: #ffffff00;
  opacity: 0.3;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 79px;
  border: 1px solid #ffffff21;
  max-width: 1270px;
  min-height: 547px;
  margin: 102px auto;
  border-radius: 30px;
  flex-wrap: wrap;
}
.about-img img {
  /* width: 100%;
  height: auto;
  max-width: 596px;
  display: block; */
  max-width: 596px;
  height: 500px;
  padding: 30px 0px;
  align-items: stretch;
}
.about-text {
  width: 600px;
  height: 500px;
  padding: 30px 0px;
}
.about-text h1 {
  font-weight: 400;
  font-size: 62px;
  line-height: 72px;
  color: #ffffff;
}

#Shubpy {
  background: linear-gradient(to right, #50a0ff, #4effff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.about-text p {
  padding: 20px 0px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
}

.trusted-partner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 90px auto;
  align-items: stretch;
  color: #ffffff;
  flex-wrap: wrap;
  max-width: 1270px;
}

.content h1 {
  font-size: 62px;
  line-height: 72px;
  font-weight: 400;
  font-family: Roboto, arial;
  max-width: 700px;
}

.left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}
.feature-item {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
.feature-item i {
  padding: 18px 5px;
}

.icon-wrapper {
  font-size: 17px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  margin-right: 10px;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 24px;
  padding: 20px;
  /* min-width: 300px; */
  max-width: 558px;
}

.counter-card {
  width: 280px;
  height: 186px;
  background: rgba(255, 255, 255, 0.05); /* subtle glass look */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  text-align: center;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.count {
  font-size: 63px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 72px;
  padding: 10px 47px;
}

.counter-card p {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
}

/* Services Section */
.services-section {
  margin: 103px auto;
  border: 1px solid #ffffff21;
  max-width: 1280px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.05);
}
.service-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 20px;
  flex-wrap: wrap;

  font-family: "Poppins", sans-serif;
}

.service-btn button {
  /* padding: 10px 30px; */
  width: 265px;
  height: 50px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  background: none;
  border: 1px solid #ffffff;
  font-size: 20px;
  line-height: 100%;
}

.service-btn button:hover {
  background-color: white;
  color: #000000;
}

.active {
  background-color: white;
  color: #000000;
}

/* .service-btn #tab{
    background-color: #FFFFFF;
    color: #000000;
} */
.service-content {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  flex-wrap: wrap;
}
.service-img img {
  width: 596px;
  height: 490px;
  /* max-width: 596px;
  display: block; */
}

.service-text {
  max-width: 43%;
}

.service-text p {
  padding: 25px 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.service-text h1 {
  font-size: 62px;
  line-height: 72px;
  font-family: "Poppins", sans-serif;
}

.service-text li {
  list-style: none;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 28px;
  display: flex; /* Make li a flex container */
  align-items: center; /* Vertically center icon + text */
}

.service-text li i {
  margin-right: 10px; /* Space between icon and text */
  /* Optional: icon color */
  font-size: 16px; /* Optional: icon size */
}

.solution-provide {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  max-width: 1320px;
  margin: 0 auto;
  
}

.solution-content {
  text-align: center;
}
.solution-content h1 {
  font-size: 62px;
  line-height: 72px;
  font-weight: 400;
}
.solution-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 33px 0;
}

.solution-card i {
  font-size: 3rem;
  background: linear-gradient(to right, #50a0ff, #4effff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.divider {
  width: 35px;
  height: 2px;
  background: linear-gradient(to right, #50a0ff, #4effff);
  border-radius: 50px;
}

.solution-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
 
  gap: 20px;
  margin: 3rem 0;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  
  
  
}

.solution-card {
  border: 1px solid #ffffff21;
  padding: 30px;
  border-radius: 30px;
 
  
}

.solution-card h1 {
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  padding: 15px 0;
}

.solution-card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 10px 0px;
}

.solution-card:nth-child(3n + 2) {
  transform: translateY(-50px) scaleY(0.99); /* Up + slightly compressed vertically */
}

.about-shubpy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  align-items: stretch;
  max-width: 1240px;
  margin: 124px auto;
  gap: 40px;
}

.shubpy-img img {
  width: 402px;
  height: 291px;
}

.shubpy-quote {
  margin: 2rem 0rem;
  max-width: 400px;
  border: 1px solid #ffffff0d;
  padding: 70px 15px;
  border-radius: 25px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
   background: rgba(255, 255, 255, 0.05); 
}

.quote-text h4 {
  text-align: start;
  background: linear-gradient(to right, #50a0ff, #4effff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.quote-text p {
  font-size: 23px;
  font-weight: 400;
  font-style: italic;
  line-height: 32px;
}

.quote-text p i {
  font-size: 40px;
  background: linear-gradient(to right, #50a0ff, #4effff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.shubpy-head {
  font-family: "Poppins", sans-serif;
}
.head-text h1 {
  font-size: 62px;
  font-weight: 400;
  line-height: 72px;
}
.head-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 20px 0;
}
.shubpy-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.shubpy-card {
  /* border: 1px solid #ffffff21; */
  width: 398px;
  height: 272px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.shubpy-card h1 {
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  padding: 18px 0px;
  
}
.shubpy-card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.shubpy-card li::marker {
  font-size: 30px;
  color: #50a0ff;
}
.technology {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  line-height: 72px;
  max-width: 1320px;
  margin: 0 auto;
}

.tech-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 1320px;
  left: 300px;

  flex-wrap: wrap;
}

.technology h1 {
  font-weight: 400;
  line-height: 1.3;
  font-size: 62px;
  line-height: 72px;
  padding: 45px 0px;
}
.tech-content button {
  padding: 10px 30px;
  border-radius: 40px;
  margin-top: 2rem;
  border: none;
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  line-height: 100%;
}

.tech-content button:hover {
  background-color: #ffff;
  color: #000000;
}
.lang-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1240px;
  margin: 74px auto;
  text-align: center;
  /* box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2); */
  border: 1px solid #ffffff21;
  padding: 30px 0;
  border-radius: 24px;
  flex-wrap: wrap;
   background: rgba(255, 255, 255, 0.05); /
}

.lang-img img {
  width: 50px;
  height: 50px;
}
.image-with-text p {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}

.review {
  color: #ffffff;
  margin: 0 auto;
  max-width: 1700px;
 
}

.review-head h1 {
  text-align: center;
  padding: 40px 0px;
  font-size: 62px;
  line-height: 72px;
}

.review-grid {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 95px;
  padding: 0 20px; 
 
}

.review-box {
  border: 1px solid #ffffff21;
  padding: 40px;
  border-radius: 30px;
 
}

.review-box h1 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.5;
}

.review-box p {
  font-size: 16px;
  font-weight: 400;
}

.review-box h3 {
  padding: 15px 0px;
  font-weight: 400;
  font-size: 20px;
}

.review-box i {
  color: green;
}

.review-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 5rem auto;
  align-items: stretch;
  /* flex-wrap: wrap; */
}
.review-content img {
  width: 643px;
  height: 424px;
  border-radius: 30px;
}

.client-review {
  width: 600px;
  border: 1px solid #ffffff0d;
  padding: 39px;
  border-radius: 30px;
   background: rgba(255, 255, 255, 0.05); 
   color: #ffffff;
   max-width: 1300px;
}

.client-review p {
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  font-style: italic;
}

.client-review p img {
  width: 30px;
  height: 20px;
  opacity: 0.75;
}

.client-review h4 {
  padding: 20px 0;
  color: #4effff;
}

/* Contact US */

.Contact {
  display: flex;
  justify-content: center;
  gap: 50px; 
  margin: 5rem auto;
  color: #ffff;
  max-width: 1270px;
  flex-wrap: wrap;
}

.contact-text h1 {
  font-size: 62px;
  font-weight: 400;
  line-height: 72px;
  max-width: 550px;
}

.contact-text p {
  padding: 40px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 600px;
}

.contact-btn {
  display: flex;
  justify-content: center;
  gap: 17px;
  flex-wrap: wrap;
  margin-right: 80px;
}

.info-btn {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 20px 30px;
  background: transparent;
  color: white;
  cursor: pointer;
  line-height: 100%;
}

.info-btn i {
  margin-right: 25px;
  font-size: 20px;
  color: white;
  background-color: #ffffff21;
  border-radius: 50px;
  padding: 10px;
}
.btn-text {
  /* display: flex;
    flex-direction: column; */
  font-size: 14px;
  text-align: start;
  line-height: 1.3;
}

.contact-form {
  border-radius: 15px;
  padding: 25px;
  width: 600px;
}

.input-group,
.input-gr {
  position: relative;
  margin-bottom: 20px;
  
}
.input-group{
  
   border-radius: 30px;
}
.input-group i {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border-radius: 30px;
  background: transparent;
 
  border: 1px solid #ffffff;
  font-size: 16px;
}

.input-group,
.input-gr,
::placeholder {
  color: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(94px);
  -webkit-backdrop-filter: blur(94px);
  
}

/* .input-gr{
    position: relative;
} */

.input-gr i {
  position: absolute;
  top: 15%;
  left: 3%;
}

.input-gr textarea {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 16px;
  color: #ffffff;
}

.form-row {
  display: flex;
  gap: 24px;
}

/* FOOOTER SECTION*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  gap: 80px;
  flex-wrap: wrap;
  max-width: 1260px;
  margin: 0 auto;
}

.footer-text {
  padding: 20px 0;
}

.footer-text h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-text p {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1240px;

  margin: 20px auto;
  /* border: 1px solid #FFFFFF21;  */

  color: #ffffff;
  flex-wrap: wrap;
}

/* .footer-copyright {
  border: 1px solid #ffffff21;
} */

.copyright-text p {
  font-size: 16px;
  padding: 10px 0;
}

.copyright-icons i {
  margin-inline: 8px;
}

/* ******************************************************************************************************************************** */
.slick-prev, .slick-next {
  z-index: 10;
  display: block !important;
   /* or transparent */
  border-radius: 50%;
}

.slick-dots li button:before {
  font-size: 14px;
  color: #faf7f7;
  padding: 20px 0;
}

.slick-dots li.slick-active button:before {
  color:#ffffff /* yellow active dot */
  
}

.review-grid.slick-initialized {
  display: block !important;
}

.review-box {
  margin: 0 10px; /* adds gap between cards */
}





/* .image-with-text {
  display: none;
}
.image-with-text.show {
  display: block;
}
 */
